*.built
*.BAK
*~

data/langdata
data/langdata/*
data/shn
data/shn/*
data/shn-ground-truth
data/shn-ground-truth/*
data/*.traineddata
data/*.tif

shan-datasets/__pycache__
shan-datasets/__pycache__/*
shan-datasets/kawtai-dataset
shan-datasets/kawtai-dataset/*
shan-datasets/output
shan-datasets/output/*

data/*-ground-truth
data/*ground-truth/*

testimage*
extracted_chars.txt
unicharset_chars.txt