*.built
*.BAK
*~
fonts.conf

data/langdata
data/langdata/*
data/shn
data/shn/*
data/shn-ground-truth
data/shn-ground-truth/*
data/*.traineddata
data/*.tif
data/demo/*

shan-datasets/__pycache__
shan-datasets/__pycache__/*
shan-datasets/kawtai-dataset
shan-datasets/kawtai-dataset/*
shan-datasets/output
shan-datasets/output/*
shan-datasets/fonts.conf
shan-datasets/shannews.txt
shan-datasets/shrf.txt
shan-datasets/taifreedom.txt
shan-datasets/novel.txt

data/*-ground-truth
data/*ground-truth/*
data/fonts.conf

testimage*
extracted_chars.txt
unicharset_chars.txt
output_text.txt
